In [ ]:
import pandas as pd
import numpy as np

In [ ]:
#2 Create series from list/array/dictionary
list1 = list("abcedfghijklmnopqrstuvwxyz")
arr=np.arange(26)
dict1=dict(zip(list1,arr))
ser1=pd.Series(list1)
ser2=pd.Series(arr)
ser3=pd.Series(dict1)

In [ ]:
#3 Convert a series to a dataframe with its index as a column
list1 = list("abcedfghijklmnopqrstuvwxyz")
arr=np.arange(26)
dict1=dict(zip(list1,arr))
ser1=pd.Series(dict1)
df=ser1.to_frame().reset_index()

In [ ]:
#4 Combine two lists into a dataframe
list1 = list("abcedfghijklmnopqrstuvwxyz")
arr=np.arange(26)
ser1=pd.Series(list1)
ser2=pd.Series(arr)
df=pd.concat([ser1,ser2],axis=1)
df=pd.DataFrame({"col1":ser1,"col2":ser2})

In [ ]:
#5 Assign name to a series' index
ser1=pd.Series(list("abcedfghijklmnopqrstuvwxyz"))
ser1.name="alphabet"

In [ ]:
#6 Remove from ser1 elements present on ser2
ser1 = pd.Series([1, 2, 3, 4, 5])
ser2 = pd.Series([4, 5, 6, 7, 8])
ser1=ser1[~ser1.isin(ser2)]

In [ ]:
#7 Get unique items of ser1 and ser2
ser1 = pd.Series([1, 2, 3, 4, 5])
ser2 = pd.Series([4, 5, 6, 7, 8])
seru=pd.Series(np.union1d(ser1,ser2))       #Returns series with unique elements of ser1, ser2
seri=pd.Series(np.intersect1d(ser1,ser2))   #Returns series with common elements of ser1, ser2
answer=seru[~seru.isin(seri)]

In [ ]:
#8 Get the minimum, median, maximum, 25% and 75% of a series
ser1=pd.Series(np.random.normal(10,5,25))
answer=np.percentile(ser1,q=[0,25,50,75,100])

In [ ]:
#9 Get frequency count of elements in series
ser1=pd.Series(np.take(list('abcdefgh'),np.random.randint(8,size=30)))
answer=ser1.value_counts(ascending=False)

In [ ]:
#10 Return 2 most frequent values in series, replace all else with "Other"
ser1=pd.Series(np.random.randint(1,5,[12]))
print(ser1.value_counts().head(2))
ser1[~ser1.isin(ser1.value_counts().index[:2])]="Other"

In [ ]:
#11 Sort the series' values in bin based on decimal, and replace values with bin name
ser1=pd.Series(np.random.random(20))
pd.qcut(ser1,10,labels=["1st","2nd","3rd","4th","5th","6th","7th","8th","9th","10th"])

In [ ]:
#12 Convert a series to a m x n matrix
ser1=pd.Series(np.random.randint(1,10,35))
df=pd.DataFrame(ser1.values.reshape(7,5))
df

In [ ]:
#13

In [ ]:
#14 Extract items at given positions from list
ser1=pd.Series(list("abcdefghijklmnopqrstuvwxyz"))
pos=[0,4,8,14,20]
ser1.take(pos)

In [ ]:
#15 Given two series, stack them and form a dataframe
ser1=pd.Series(range(5))
ser2=pd.Series(list("abcde"))       #Stack them vertically
df=pd.concat([ser1,ser2],axis=1)    #Stack them horizontally
#ser1.append(ser2)
df

In [ ]:
#16 Find the indices of ser2 items in ser1
ser1=pd.Series([10,9,6,5,3,1,12,8,13])
ser2=pd.Series([1,3,10,13])
[pd.Index(ser1).get_loc(i) for i in ser2]

In [ ]:
#17 Calculate the mean squared error of two series
truth=pd.Series(range(10))
pred=pd.Series(range(10)+np.random.random(10))
np.mean((truth-pred)**2)

In [ ]:
#18 Capitalize the first character in each word
ser1=pd.Series(["how","to","kick","ass?"])
ser1.str.capitalize()

In [ ]:
#19 Count each words' characters
ser1=pd.Series(["how","to","kick","ass?"])
ser1.str.len()

In [ ]:
#20 Calculate difference of differences between consecutive numbers in series
ser1=pd.Series([1,3,6,10,15,21,28,36])
ser1.diff().diff().tolist()

In [ ]:
#21 Convert date-strings to timeseries
ser1=pd.Series(["01 Jan 2010","02-02-2011","20120303","2013/04/04","2014-05-05","2015-06-06T12:20"])
ser1=pd.to_datetime(ser1)

In [ ]:
#22 Get day of month, week number, day of year and day of week from date string series
ser1=pd.Series(["01 Jan 2010","02-02-2011","20120303","2013/04/04","2014-05-05","2015-06-06T12:20"])
ser1=pd.to_datetime(ser1)
print(ser1.dt.day.tolist())
print(ser1.dt.isocalendar().week.tolist())
print(ser1.dt.dayofyear.tolist())
print(ser1.dt.day_name().tolist())

In [ ]:
#23 Convert year-month string to 04/mm/yyyy format
ser1=pd.Series(["Jan 2010","Feb 2011","Mar 2012"])
ser1=pd.to_datetime(ser1)
diem=pd.Series([4]*3)
anno=ser1.dt.year.astype("str")
mensis=ser1.dt.month.astype("str")
answer=pd.concat([anno,mensis],axis=1)
answer["2"]=diem

In [ ]:
#24 Return words with at least 2 vowels
from collections import Counter
ser1=pd.Series(["Apple","Orange","Plan","Python","Money"])
indx=ser1.map(lambda x: sum([Counter(x.lower()).get(i,0) for i in list("aeiouy")])>=2)
ser1[indx]

In [ ]:
#25 Filter series based on list
import re
emails=pd.Series(["buying books at amazom.com","rameses@egypt.com","matt@t.co","narendra@modi.com"])
pattern="[A-Za-z0-9._%+-]+@[A-Za-z0-9.-]+\\.[A-Za-z]{2,4}"
emails.str.findall(pattern, flags=re.IGNORECASE)

In [ ]:
#26 Find the mean of a group grouped by another group
fruit=pd.Series(np.random.choice(["apple","banana","carrot"],10))
weights=pd.Series(np.linspace(1,10,10))
weights.groupby(fruit).mean()

In [ ]:
#27 Calculate the euclidean distance between two series
ser1=pd.Series(np.linspace(1,10,10))
ser2=pd.Series(np.linspace(10,1,10))
sum((ser1-ser2)**2)**0.5

In [ ]:
#28 Find local maxima of a series
ser1=pd.Series([2,10,3,4,9,10,2,7,3])
dif=np.diff(np.sign(np.diff(ser1)))
answer=np.where(dif== -2)[0]+1

In [ ]:
#29 Replace missing spaces with the least frequent character
test="dgg sdffsd llookkgge"
ser1=pd.Series(list(test))
f=ser1.value_counts()
lf=f.dropna().index[-1]
"".join(ser1.replace(" ",lf))

In [ ]:
#30 Start a TimeSeries on 2000-01-01 and have random numbers as values each Saturday
ser1=pd.Series(np.random.randint(1,10,10),pd.date_range("2000-01-01",periods=10,freq="W-SAT"))

In [ ]:
#
#31 In a TimeSeries, replace missing values with previous non-missing dates
ser1=pd.Series([1,10,3,np.nan], index=pd.to_datetime(['2000-01-01', '2000-01-03', '2000-01-06', '2000-01-08']))
print(ser1)
ser1.resample("D").ffill()

In [ ]:
#32 Calculate the autocorrelation of a series
ser1=pd.Series(np.arange(20)+np.random.normal(1,10,20))
temp=[ser1.autocorr(i).round(2) for i in range(11)]
print(np.argmax(np.abs(temp[1:]))+1)

In [ ]:
#33 Import the Nth row for a csv file to create a dataframe
df=pd.read_csv("https://raw.githubusercontent.com/selva86/datasets/master/BostonHousing.csv",chunksize=50)
df2=pd.DataFrame()
df2=pd.concat([chunk.iloc[0] for chunk in df],axis=1)
df2=df2.transpose

In [ ]:
#34 Change column values when import from csv to dataframe
df=pd.read_csv("https://raw.githubusercontent.com/selva86/datasets/master/BostonHousing.csv",converters={"medv": lambda x: "High" if x > "25" else "Low"})

In [ ]:
#35

In [ ]:
#36 Import specified columns from csv file
df=pd.read_csv("https://raw.githubusercontent.com/selva86/datasets/master/BostonHousing.csv", usecols=["crim","medv"])

In [ ]:
#37 Get size, datatype and statistic stats of each collumn in a dataframe
df=pd.read_csv("https://raw.githubusercontent.com/selva86/datasets/master/Cars93_miss.csv")
print(df.shape)                    #Get number of rows and columns
print(df.dtypes)                   #Get datatypes
print(df.value_counts())           #Get columns of each datatype
print(df.dtypes.value_counts())    #Get numbers of each datatype
stats=df.describe()                #Get statistics
arr=df.values
list1=df.values.tolist()

In [ ]:
#38 Get index and label of a cell fitting the criteria
df=pd.read_csv("https://raw.githubusercontent.com/selva86/datasets/master/Cars93_miss.csv")
df.loc[df.Price == np.max(df.Price),["Manufacturer","Model","Type"]]
r,c=np.where(df.values==np.max(df.Price))
df.iloc[r[0],c[0]]

In [ ]:
#39 Rename columns
df = pd.read_csv('https://raw.githubusercontent.com/selva86/datasets/master/Cars93_miss.csv')
df=df.rename(columns = {"Type":"CarType"})
df.columns=df.columns.map(lambda x: x.replace(".","_"))

In [ ]:
#40 Check for any NaN values
df = pd.read_csv('https://raw.githubusercontent.com/selva86/datasets/master/Cars93_miss.csv')
a=df.isna().values.any()

In [ ]:
#41 Count the NaN values in each column
df = pd.read_csv('https://raw.githubusercontent.com/selva86/datasets/master/Cars93_miss.csv')
answer=df.isna().sum()

In [ ]:
#42 Replace NaN values with the median
df = pd.read_csv('https://raw.githubusercontent.com/selva86/datasets/master/Cars93_miss.csv')
df["Min.Price"].fillna(value=df["Min.Price"].median(),inplace=True)
df["Max.Price"].fillna(value=df["Max.Price"].median(),inplace=True)

In [ ]:
#43

In [ ]:
#44 Select a column as a dataframe, not series
df=pd.DataFrame(np.arange(20).reshape(-1, 5), columns=list("abcde"))
temp=(df.iloc[:,[0]])

In [ ]:
#45 Swap two columns using column index
df=pd.DataFrame(np.arange(20).reshape(-1, 5), columns=list("abcde"))
def switch_col1(df,col1,col2):
    col_list=list(df)
    col_list[0],col_list[2]=col_list[2],col_list[0]
    df.columns=col_list
    return df
df=switch_col1(df,0,2)
df=df.sort_index(axis=1,ascending=False)

In [ ]:
#45 Swap two columns using column names
df=pd.DataFrame(np.arange(20).reshape(-1, 5), columns=list("abcde"))
def switch_col2(df,col1,col2):
    col_list=list(df)
    i,j=col_list.index(col1),col_list.index(col2)
    col_list[i],col_list[j]=col_list[j],col_list[i]
    return df[col_list]
switch_col2(df,"a","c")

In [ ]:
#46 Set the number of rows and columns displayed
df=pd.read_csv("https://raw.githubusercontent.com/selva86/datasets/master/Cars93_miss.csv")
pd.set_option("display.max_columns",10)
pd.set_option("display.max_rows",10)

In [ ]:
#47 Set decimal point in scientific notation
df=pd.DataFrame(np.random.random(4)**10, columns=['random'])
pd.options.display.float_format="{:.4f}".format
df

In [ ]:
#48 Change values to percentages
df=pd.DataFrame(np.random.random(4), columns=['random'])
df=df.style.format({'random': '{0:.2%}'.format})

In [17]:
#49 Filter the Nth column in dataframe
df=pd.read_csv('https://raw.githubusercontent.com/selva86/datasets/master/Cars93_miss.csv')
print(df.iloc[::20,:][["Manufacturer","Model","Type"]])

   Manufacturer    Model     Type
0         Acura  Integra    Small
20     Chrysler  LeBaron  Compact
40        Honda  Prelude   Sporty
60      Mercury   Cougar  Midsize
80       Subaru   Loyale    Small